<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mohai/IdeaProjects/TestNG_Assignments">
        <classes>
            <class name="TestNG_Assignment01.SwagLabsDemoTest">
                <methods>
                    <include name="checkTitle"/>
                    <include name="checkCurrentURL"/>
                    <include name="loginFail"/>
                    <include name="loginPass"/>
                </methods>
            </class>
            <class name="TestNG_Assignment01.TestByClass">
                <methods>
                    <include name="checkTitle"/>
                    <include name="checkCurrentURL"/>
                    <include name="loginFail"/>
                    <include name="loginPass"/>
                </methods>
            </class>
            <class name="TestNG_Assignment01.TestByMethod">
                <methods>
                    <include name="checkTitle"/>
                    <include name="checkCurrentURL"/>
                    <include name="loginFail"/>
                    <include name="loginPass"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>